<ng-container *ngIf="categories$ | async as categories">
  <div class="frow order-row" *ngIf="categories.length; else empty">
    <div
      *ngFor="let category of categories"
      class="card waves-effect pointer"
      [routerLink]="[routeConfigs.order.fullPath, category._id]"
    >
      <div class="center">
        <img
          [src]="category.imageSrc"
          [alt]="category.name"
          class="responsive-img order-img"
        >
      </div>
      <div class="card-content center p10">
        <h5 class="m0">{{category.name}}</h5>
      </div>
    </div>
  </div>
  <ng-template #empty>
    <div class="center">Category is empty</div>
  </ng-template>
</ng-container>
